$main_c: #2bb8aa;
$font_c: #333;
$font_c_l: #999;
$border_c: #EEE;
$bg_c: #F8F8F8;

$page_min_width: 1100px;
$cont_width: 1000px;

@mixin cont_layout{
  width: $cont_width;
  margin: 0 auto;
}

@mixin section_box {
  border: 1px solid $border_c;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
}
